/.git
/.idea
/.venv
/.vscode
/firefox
/gotenberg
/nginx
/postgres
/tika
/utils
/valkey
**/var
/frontend/node_modules
/frontend/dist
/frontend/.angular
/backend/media
**/__pycache__
**/*.pyc
**/.pytest_cache
**/.mypy_cache
**/.ruff_cache
**/.cache
**/*.log
**/*.tmp
