# Criar um arquivo .env com base neste exemplo)
# As portas ***_HOST_PORT são as expostas pelo Docker no localhost para possibilitar comunicação entre módulos de
#   dentro e de fora dos containers; podem ser modificadas para evitar conflitos com portas em uso na máquina local
# Os campos que contém segredos e credenciais são codificados em Base64 para ofuscamento básico, com exceção de
#   POSTGRES_PASSWORD

#### HOST
HOST_APP_UID=1001
HOST_APP_GID=1002
HOST_MEDIA_ROOT='./media'
BACKEND_MEM_LIMIT=4G
CELERY_MEM_LIMIT=12G
TIKA_MEM_LIMIT=5G

#### POSTGRES
POSTGRES_PASSWORD=sormfhZjnPeZ5qxrd62Oj4uNBlrzH8qc
POSTGRES_DB=atena
POSTGRES_USER=atena
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432

#### VALKEY
VALKEY_PORT=6379
VALKEY_HOST_PORT=6379

#### FIREFOX
FIREFOX_PORT=4444
FIREFOX_HOST_PORT=4444
VNCFIREFOX_PORT=7900
VNCFIREFOX_HOST_PORT=7900

#### GOTENBERG
GOTENBERG_PORT=3000
GOTENBERG_HOST_PORT=3000

#### TIKA
TIKA_PORT=9998
TIKA_HOST_PORT=9998

#### ATENA_BACKEND
DJANGO_SECRET_KEY='@!_%_<PJ#*rc9[r;k&q#az1Z0E"v-*x*.B#;`7j-xFjBVfL1_1Ye=#U=2NQq{+4tCxO%tpe}}zgxu0XghU"ed*9n'
DJANGO_DEBUG=1
DJANGO_ALLOWED_SCHEMAS=http;https
DJANGO_ALLOWED_HOSTS=localhost;127.0.0.1;[::1]
DJANGO_ALLOWED_PORTS=;4200;8000
DJANGO_LOG_LEVEL=INFO
DJANGO_SUPERUSER_USERNAMES=00000000000
DJANGO_ENABLE_DB_PERIODIC_TASKS=0

#### MSGRAPH
ADFS_TENANT_ID=NGQ3OWQzN2EtMWU0ZS00YTM5LTlmZGUtZjE2MzFjYjYwN2Q0
ADFS_CLIENT_ID=NTY0NmYxNzktZGFmYy00YmIyLWI3NTQtZGYyYmU3ODlhODk4
ADFS_CLIENT_SECRET=X056LnRfR0FFMUJzQGRZajZwSDl4d3BqbkJYbTJWR1M=

#### SUPERSAPIENS
SS_DEF_CRED=ZW1haWwudXN1YXJpb0BhZ3UuZ292LmJyOlNlbmhhVXN1YXJpbw==
SS_CLIENT_CRED=Y
SL_DEF_CRED=MDAwMDAwMDAwMDA6U2VuaGFVc3Vhcmlv

#### PJE_TRT
PJE_DEF_CRED=MDAwMDAwMDAwMDA6U2VuaGFVc3Vhcmlv

#### ORACLE
ORACLE_INSTANT_CLIENT_DIR="C:\ProgramData\Oracle\instantclient_23_8"
ORACLE_DB_HOST="sdfsapiensdr-scan.agu.gov.br"
ORACLE_DB_SERVICE_NAME="PAGUX10DR.agu.gov.br"
ORACLE_DB_CREDENTIALS=VVNVQVJJT19PUkFDTEU6U2VuaGFVc3Vhcmlv
ORACLE_IGNORE_FAILURES=0

#### DATAJUD (cf. https://datajud-wiki.cnj.jus.br/api-publica/acesso/)
DATAJUD_API_KEY=cDZHYzlZa0JadVREZDJCendQbXY6SkJlTzNjLV9TRENyQk1RdnFKZGRQdw==

#### DATABRICKS
DATABRICKS_HOST='https://dbc-01234567-89ab.cloud.databricks.com'
DATABRICKS_CLIENT_ID='01234567-0123-4567-89ab-cdef01234567'
DATABRICKS_CLIENT_SECRET='dosabcdef0123456789abcdef0123456789a'
DATABRICKS_HTTP_PATH='/sql/1.0/warehouses/0123456789abcdef'