# Criar um arquivo .env com base neste exemplo)
# As portas ***_HOST_PORT são as expostas pelo Docker no localhost para possibilitar comunicação entre módulos de
#   dentro e de fora dos containers; podem ser modificadas para evitar conflitos com portas em uso na máquina local
# Os campos que contém segredos e credenciais são codificados em Base64 para ofuscamento básico, com exceção de
#   POSTGRES_PASSWORD

#### HOST
HOST_APP_UID=1001
HOST_APP_GID=1002
HOST_MEDIA_ROOT='./media'
BACKEND_MEM_LIMIT=4G
CELERY_MEM_LIMIT=12G
TIKA_MEM_LIMIT=5G

#### POSTGRES
POSTGRES_PASSWORD=sormfhZjnPeZ5qxrd62Oj4uNBlrzH8qc
POSTGRES_DB=djng
POSTGRES_USER=djng
POSTGRES_PORT=5432
POSTGRES_HOST_PORT=5432

#### VALKEY
VALKEY_PORT=6379
VALKEY_HOST_PORT=6379

#### FIREFOX
FIREFOX_PORT=4444
FIREFOX_HOST_PORT=4444
VNCFIREFOX_PORT=7900
VNCFIREFOX_HOST_PORT=7900

#### GOTENBERG
GOTENBERG_PORT=3000
GOTENBERG_HOST_PORT=3000

#### TIKA
TIKA_PORT=9998
TIKA_HOST_PORT=9998

#### DJANGO_BACKEND
DJANGO_SECRET_KEY='@!_%_<PJ#*rc9[r;k&q#az1Z0E"v-*x*.B#;`7j-xFjBVfL1_1Ye=#U=2NQq{+4tCxO%tpe}}zgxu0XghU"ed*9n'
DJANGO_DEBUG=1
DJANGO_ALLOWED_SCHEMAS=http;https
DJANGO_ALLOWED_HOSTS=localhost;127.0.0.1;[::1]
DJANGO_ALLOWED_PORTS=;4200;8000
DJANGO_LOG_LEVEL=INFO
DJANGO_SUPERUSER_USERNAMES=00000000000
DJANGO_ENABLE_DB_PERIODIC_TASKS=0
